h1{
  border-block: 2px solid blue;
}
img {
    border: 3px solid peru;
}

p {
  font-family: sans-serif;
  font-size: 20px;
  color: darkblue;
  border: 2px solid grey;
  background-color:#DCF9FF;
}

table{
    background-color: lightblue;
    text-align: center;
    border-collapse: collapse;
}

td{
    border: 1px solid brown;
}
img{
   width: 200px;
  border-radius: 20px;
}
