body {
    font-family: sans-serif;
}
head {
    background-color: navy;
    color: lightblue;
    border-radius: 20px;
}
head a{
color: white;
font-size: 30px;
}
h1{
    color: navy;
    text-align: center;
    font-size: 40px;
}
footer{
   border: 3px solid grey; 
}
